[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-daemon = "*"
pyside6 = "*"
ksync = "*"

[dev-packages]
ipython = "*"
pylint = "*"
black = "*"
pytest = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocstrings = {extras = ["python"], version = "*"}

[requires]
python_version = "3.10"
